include ../../../node_modules/bemto.jade/bemto
include ../head/head
include ../header/header
include ../footer/footer

doctype html
html(lang='ru')
    block head

    +b('body').page
        |%=symbols=%
        block header
            +header()

        +e.__content
            block content

        block footer
            +footer()
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts
        script(src='.%=static=%./js/main%=hash=%%=min=%.js')
